.top-bar {
	margin-bottom: 15px;
    background: #008CBA;
}

.top-bar-section li a:not(.button) {
    background: #008CBA !important;   
}

.top-bar-section li a:not(.button):hover {
    background: #007095 !important;
}

.top-bar-section ul li.active > a {
    background: #007095 !important;   
}

.top-bar-section .divider {
	border-top: solid 1px #008095;
}

.top-bar-section >ul>.divider {
	border-right: solid 1px #008095;
}

.action-icon {
	display: inline-block;
    width: 20%;
}

.size-12 { font-size: 12px; }      
.size-14 { font-size: 14px; }    
.size-16 { font-size: 16px; }    
.size-18 { font-size: 18px; }    
.size-21 { font-size: 21px; }    
.size-24 { font-size: 24px; }    
.size-36 { font-size: 36px; }    
.size-48 { font-size: 48px; }    
.size-60 { font-size: 60px; }    
.size-72 { font-size: 72px; }
